.margemabaixo {margin-bottom: 2em;}
.margemabaixomaior {margin-bottom: 5em;}

.card p {margin-top: 0px;}

.modal-closing{float: right;}
.modal-closing a{padding: 0 6px;}
.modal-closing i{font-size: 2em;}
